{% extends 'base_admin.html.twig' %}

{% block title %}EQUIPO - {{ parent() }}{% endblock %}

{% block body %}

    {% include '::admin_blocks/header.html.twig' with { 'h2Title': 'Equipo', 'addPath': path('equipo_new')  } %}

    <section class="features16 cid-qN729l9unr" id="features16-f">
        <div class="container">
            <div class="row media-row">
                {% for equipo in equipos %}
                    <div class="team-item col-lg-3 col-md-6">
                        <div class="item-image">
                            <a href="{{ path('equipo_edit', {'id': equipo.id}) }}">
                                <img src="{{ asset(equipo_img_route ~ equipo.img) }}" alt="{{ equipo.nombre }} {{ equipo.apellidos }}">
                            </a>
                        </div>
                        <div class="item-caption py-3">
                            <div class="item-name px-2">
                                <p class="mbr-fonts-style display-5 text-center">
                                    <a href="{{ path('equipo_edit', {'id': equipo.id}) }}">
                                        {{ equipo.nombre }} {{ equipo.apellidos }}
                                    </a>
                                </p>
                            </div>
                            <div class="item-role px-2 text-center">
                                <p>{{ equipo.tipo }}</p>
                            </div>
                            <div class="item-social pt-2">
                                {% if equipo.twitter %}
                                    <a href="https://twitter.com/{{ equipo.twitter }}" target="_blank">
                                        <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                                {% if equipo.facebook %}
                                    <a href="https://www.facebook.com/{{ equipo.facebook }}" target="_blank">
                                        <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                                {% if equipo.instagram %}
                                    <a href="https://www.instagram.com/{{ equipo.instagram }}/" target="_blank">
                                        <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                                {% if equipo.youtube %}
                                    <a href="https://www.youtube.com/channel/{{ equipo.youtube }}" target="_blank">
                                        <span class="p-1 socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                {% endfor %}   
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
{% endblock %}