{% extends 'base_admin.html.twig' %}
{% block body %}
    <section class="features16 cid-qN729l9unr" id="features16-f">
        <div class="container align-center">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h2 class="mbr-section-title mbr-fonts-style pb-3 display-2">
                        Equipo
                    </h2>
                </div>
                <div class="col-auto"><a href="{{ path('paginas_new') }}" class="btn btn-outline-primary btn-sm"><span class="mbri-plus mbr-iconfont mbr-iconfont-btn"></span> Añadir</a></div>
            </div>
        
            <div class="row media-row">
                {% for equipo in equipos %}
                    <div class="team-item col-lg-3 col-md-6">
                        <div class="item-image">
                            <img src="{{ asset('assets/images/') }}{{ equipo.img }}">
                        </div>
                        <div class="item-caption py-3">
                            <div class="item-name px-2">
                                <p class="mbr-fonts-style display-5">
                                   {{ equipo.nombre }} {{ equipo.apellidos }}
                                </p>
                            </div>
                            <div class="item-role px-2">
                                <p>{{ equipo.tipo }}</p>
                            </div>
                            <div class="item-social pt-2">
                                {% if equipo.twitter %}
                                    <a href="https://twitter.com/{{ equipo.twitter }}" target="_blank">
                                        <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                                {% if equipo.facebook %}
                                    <a href="https://www.facebook.com/{{ equipo.facebook }}" target="_blank">
                                        <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                                {% if equipo.instagram %}
                                    <a href="https://www.instagram.com/{{ equipo.instagram }}/" target="_blank">
                                        <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                                {% if equipo.youtube %}
                                    <a href="https://www.youtube.com/channel/{{ equipo.youtube }}" target="_blank">
                                        <span class="p-1 socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                {% endfor %}   
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
{% endblock %}