{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ equipo.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ equipo.apellidos }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ equipo.img }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ equipo.email }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ equipo.facebook }}</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>{{ equipo.instagram }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ equipo.twitter }}</td>
            </tr>
            <tr>
                <th>Youtube</th>
                <td>{{ equipo.youtube }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ equipo.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipo_edit', { 'id': equipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
