<div class="team-item col-lg-3 col-md-6">
    <div class="item-image">
        <img src="{{ asset('assets/images/face6.jpg') }}">
    </div>
    <div class="item-caption py-3">
        <div class="item-name px-2">
            <p class="mbr-fonts-style display-5">
                {{ socio.nombre }} {{ socio.apellidos }}
            </p>
        </div>
        <div class="item-role px-2">
            <p>Developer</p>
        </div>
        <div class="item-social pt-2">
            {% if socio.twitter %}
                <a href="https://twitter.com/{{ socio.twitter }}" target="_blank">
                    <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
            {% endif %}
            {% if socio.facebook %}
                <a href="https://www.facebook.com/{{ socio.facebook }}" target="_blank">
                    <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
            {% endif %}
            {% if socio.instagram %}
                <a href="https://www.instagram.com/{{ socio.instagram }}/" target="_blank">
                    <span class="p-1 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
            {% endif %}
            {% if socio.youtube %}
                <a href="https://www.youtube.com/channel/{{ socio.youtube }}" target="_blank">
                    <span class="p-1 socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
            {% endif %} 
        </div>
    </div>
</div>