{% extends 'base_admin.html.twig' %}
{% block body %}

    {% if type == 'edit' %}
        {% include 'blocks/admin/header.html.twig' with {
            'title': 'Editar "' ~ slider.titulo ~ '"',
            'addPath': path('slider_new', {'id': slider.id}),
            'deletePath': path('slider_delete', {'id': slider.id})
            }
        %}
    {% else %}
        {% include 'blocks/admin/header.html.twig' with {
            'title': 'Nuevo Slide',
            'returnPath': path('admin_slider_index')
            }
        %}
    {% endif %}

    <div class="container pl-4 pt-4 pb-5">
        {{ form_start(form) }}
        <div class="row media-row">
            <div class="col-12">
                {{ form_row(form.titulo) }}
            </div>
            <div class="col-12">
                {{ form_row(form.contenido) }}
            </div>
            <div class="col-6">
                {{ form_row(form.tipo) }}
            </div>
            <div class="col-6">
                {{ form_row(form.url) }}
            </div>
            <div class="col-4">
                {{ form_row(form.textAlign) }}
            </div>
            <div class="col-4">
                {{ form_row(form.textColor) }}
            </div>
            <div class="col-4">
                {{ form_row(form.overlay) }}
            </div>
        </div>
        <div class="text-center">
            {% if type == 'edit' %}
                <input type="submit" class="btn btn-primary" value="Editar" />
            {% else %}
                <input type="submit" class="btn btn-primary" value="Nuevo" />
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
